*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;

}

img{
    max-width: 100%;
    /* margin: 0 auto; */
}
.container{
    max-width: 70%;
    margin: 0 auto;
    
}


div.main{
   
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color:#fff;
    padding: 20px;
    height: 65px;
   
}

div.contact{
    display: flex;
    align-items: center;
    gap: 10px;
}


div.box-location{
    display: flex;
    align-items: center;
    background-color: #EE9D1E;
    color: #fff;
    padding: 10px;
    font-weight: 500;
    border-radius: 10px;
}

div.address{
    font-weight: 600;
}

div.box-contact{
    color: #fff;
    background-color: #EE9D1E;
     padding: 10px;
    font-weight: 600;
    border-radius: 10px;
}
div.buy {
    position: relative;
  color: #EE9D1E;
  font-size: 23px;
    
}
span.circle{
    color: #fff;
    background-color: #EE9D1E;
    padding: 2px 4px;
    font-size: 12px;
    border-radius: 35px;
    position: absolute;
    font-weight: 700;
    bottom: 12px;
    right: 1px;
}



.nav {
    
    width: 100% ;
    background-color: #EE9D1E;
    position: sticky;
    top: 0;
   
}

/* nav {
    max-width: 90%;
    margin: 0 auto;
} */
 
ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    gap: 50px;
}

li {
    font-family: sans-serif;
    list-style-type: none;
    font-weight: 700;
    cursor: pointer;
}


li:hover{
background-color: black;
color: #EE9D1E;
padding: 8px;
border-radius:10px;
transition: 1s;

}
section.hero-section {
 position: relative;
 height:100%;
 width: 100%;
 
}

section.hero-section img.image-two{
    position: absolute;
    right: 724px;
    top: -55px;
     
}

 .fa-angle-left {
    position: absolute;
    left: 3px;
    bottom: 350px;
    background-color:black;
    color: #fff;
    padding: 25px 10px;
    font-size: 20px;
    opacity: 0.5;
    border-radius: 0px 10px 10px 0px;
}
.fa-angle-right {
    position: absolute;
    right: 3px;
    bottom: 350px;
    background-color:black;
    color: #fff;
    padding: 25px 10px;
    font-size: 20px;
    opacity: 0.5;
    border-radius: 10px 0px 10px 10px;
}




div.search-nihari{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-top:30px;
    /* margin-bottom: 30px; */
    border: 1px solid  #EE9D1E;
    color: #EE9D1E;
    border-radius: 30px;
    cursor: pointer;


}
input{
    color: #EE9D1E;
   border: none;
   outline: none;
}

::placeholder{
    color: #EE9D1E;
    font-size: 16px;
}
div.arrow-icon{
 background-color: #EE9D1E;
 color: #fff;
 padding: 3px;
 border-radius: 50%;
}


section.card-section{
    height: 100vh;
    background-image: url(./images/back\ img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
} 